body {
    font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: #269b81;
    /* background: #00B3B4; */
    font-size: 20px;
    line-height: 28px;
    color: #323b40;
    margin: 40px 0;
}

body::before {
    position: fixed;
    content: "";
    height: 400px;
    width: 400px;
    top: 20px;
    right: 30px;
    background: url(../images/css3_logo.png) no-repeat;
    background-size: 100%;
    opacity: .2;
}

section {
    position: relative;
    border-top: solid 1px #f9f9f9;
    border-bottom: solid 1px #ddd;
    padding: 25px 0;
}

.sandbox, .final-result, .info {
    position: relative;
    background: #e7eef1;
    width: 60%;
    max-width: 960px;
    margin: 60px auto;
    padding: 40px 40px 60px;
    box-sizing: border-box;
    border-radius: 2px;
    box-shadow: 0 12px 0 -6px #fa90a3;
}


h1,h2,h3,h4,h5,h6 {
  font-family: 'Bubblegum Sans', cursive;
}